.TodoFormat {
    margin: 10px;
    padding: 10px;
    text-align: Left;
    margin: auto;
}
.TodoItem {
    height: 70px;
    max-width: 70%;
    align-content: center;
    align-self: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
}

.incomplete{
    border: 2px solid lightskyblue;
    background-color: darkslateblue;
    color:blanchedalmond
}

.complete{
    border: 2px solid rgb(32, 178, 66);
    background-color: rgb(39, 117, 73);
    color:blanchedalmond;
}