

.TodoFormat {
    margin: 10px;
    padding: 10px;
}

.TodoItem {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100%;
    margin: 3rem auto;
}

.itemSpan{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.buttonSpan{
    margin:auto;
    padding: 10px;
    justify-content: center;
    align-content:space-around ;
    
}

.incomplete{
    border: 2px solid lightskyblue;
    background-color: darkslateblue;
    color: cornflowerblue;
}

.complete{
    border: 2px solid rgb(0, 232, 135);
    background-color: rgb(0, 152, 66);
    color:blanchedalmond;
    font-style: oblique;
    text-decoration: line-through;
}

.button{
    margin: 10px;
    padding: 10px;
}